.h1 {
    font-size: 2em;
    color: #333;
    size: 50px;
    font-weight: bold;
    text-align: center;
    margin: 20px 0;
    padding: 10px;
    background-color: #f4f4f4;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-transform: uppercase;
}